<!DOCTYPE html>
<html>
  <head>
    <title>shrty</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <style>
      .body {
        width: 80%;
        max-width: 950px;
        margin: 30px auto 0;
      }
    </style>
  </head>
  <body>
    <div class="body">
      <p class="title is-2">shrty</p>
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>
              <p class="title is-5">tag</p>
            </th>
            <th>
              <p class="title is-5">link</p>
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>
              <p class="title is-5">tag</p>
            </th>
            <th>
              <p class="title is-5">link</p>
            </th>
          </tr>
        </tfoot>
        <tbody>
          {% for url in urls %}
          <tr>
            <td>
              <p class="subtitle is-6">
                <a href="{{ url.short_tag }}" target="_blank"
                  >/{{ url.short_tag }}</a
                >
              </p>
            </td>
            <td>
              <p class="subtitle is-6">
                <a href="{{ url.short_tag }}" target="_blank"
                  >{{ url.target_url }}</a
                >
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
